.page {
  display: flex;
  align-items: center;
	margin: 0px;
  justify-content: center;
	font-family: sans-serif;
}

a{
	text-decoration: none;
}

ul,ol{
	list-style-type: none;
}

.container {
	width: 100%;
}

.navigation {
	background-color: aqua;
	padding-top: 20px;
	height: 70px;
	display: grid;
	grid-template-columns: 139px 1fr 1fr;
}
.navigation-list {
	
	text-align: left;
	display: flex;
	gap: 18px;
}

.user-navigation {
	display: grid;
	grid-template-columns: 1fr 160px 70px;
	justify-content: flex-end;
}

.user-navigation-list {
	justify-content: flex-end;
	text-align: left;
	display: flex;
	gap: 16px;
}
.header-button {
	
	height: 37.24px;
	width: 160px;
	background-color: aquamarine;
	text-align: center;
	margin: 4px 16px;
	padding-top: 14px;
	border: 2px;
	border-radius: 4px;
}
